@import '../../variables.scss';
.contact{
    padding: 2rem;
    header{
        p{
            position: relative;
            font-size: 2rem;
            height: 4rem;
            width: 90%;
            display: flex;
            align-items: center;
            &::after{
                display: block;
                content: "";
                width: 5rem;
                height: 100%;
                z-index: -1;
                position: absolute;
                top:0;
                left: 4rem;
                background-color: $first-main-color;
            }
        }
    }
    main{
        width: 100%;
        @include flex-container;
        flex-wrap: wrap;
        padding: 2rem;
        > div{
            min-width: 20rem;
            width: 50%;
            height: 100%;
            @include flex-container;
        }
    }
}
.contact_info{
    flex-direction: column;
    border: 1px solid $third-main-color;
    position: relative;
    padding: 3rem;
    color: $third-main-color;
    align-self: flex-start;
    margin: 2rem;
    font-size: 1rem;
    &::after{
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top:-1rem;
        left: -1rem;
        background-color: $first-main-color;
    }
    span{
        font-weight: 700;
    }
}