@import '../../variables.scss';

.header{
    height: 7rem;
    width: 100%;
    background-color: $third-main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    img{
        padding: 0 2rem;
        height: 75px;
    }
    ul{
        li{
            list-style: none;
            text-align: center;
            cursor: pointer;
        }
    }
}
.hamburger{
        display:flex;
         flex-direction:column;
         width:40px;
         cursor:pointer;
        span{
         background: #fff;
         border-radius:10px;
         height:3px;
         margin: 3px 0;
         transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
       }
       span:nth-of-type(1){
         width:50%;
       }
       span:nth-of-type(2){
         width:100%;
       }
       span:nth-of-type(3){
         width:75%;
       }
       input[type="checkbox"]{
         display:none;
       }
       input[type="checkbox"]:checked ~ span:nth-of-type(1){
         transform-origin:bottom;
         transform:rotatez(45deg) translate(12px,0px)
       }
       input[type="checkbox"]:checked ~ span:nth-of-type(2){
         transform-origin:top;
         transform:rotatez(-45deg)
       }
       input[type="checkbox"]:checked ~ span:nth-of-type(3){
         transform-origin:bottom;
         width:50%;
         transform: translate(23px,-7px) rotatez(45deg);
       }
}
@media only screen and (min-width: 768px) {
    .header{
            ul{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    text-align: center;
                    color: $second-main-color;
                    width: 10rem;
                    font-size: 1rem;
                    color: $second-main-color;
                    cursor: pointer;
                    &:hover{
                        color: $first-main-color;
                    }
                }
            }
    }
    .hamburger{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .header{
        height: 5rem;
        img{
            height: 50px;
        }
        ul{
            display: none;
        }
}
.responsiveMenu{
    position: absolute;
    top: 7rem;
    left: 0;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 7rem);
    width: 100%;
    background-color: rgba(0,0,0,1);
    z-index: 10;
    li{
        width: 60%;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.5rem;
        border: 1px solid $second-main-color;
        color: $third-main-color;
        position: relative;
        &::before{
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute;
                top:-0.5rem;
                left: -0.5rem;
                background-color: $first-main-color;
        }
    }
}
}
