@import '../../variables.scss';

.header{
    height: 5rem;
    width: 100%;
    background-color: $third-main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    img{
        height: 50px;
    }
    ul{
        @include flex-container;
        li{
            list-style: none;
            color: $second-main-color;
            padding: 2rem;
            font-size: 1.25rem;
        }
    }
}