@import '../../variables.scss';

.header{
    height: 5rem;
    width: 100%;
    background-color: $third-main-color;
    @include flex-container;
    img{
        height: 50px;
    }
    ul{
        display: inline;
        li{
            list-style: none;
            color: $second-main-color;
        }
    }
}