@import '../../variables.scss';

.header{

    background-color: $third-main-color;
    padding: 1rem;
    img{
        padding: 0 2rem;
        height: 75px;
    }
    ul{
        width: 50%;
        li{
            list-style: none;
            text-align: center;
            color: $second-main-color;
            width: 10rem;
            font-size: 1rem;
            cursor: pointer;
            &:hover{
                color: $first-main-color;
            }
        }
    }
}
.hamburger{
    color: $first-main-color;
    font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
    .header{
        height: 7rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
    }
    .hamburger{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .header{
        height: 5rem;
        img{
            height: 50px;
        }
        ul{
            display: none;
        }
}
.responsiveMenu{
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100% !important;
    background-color: rgba(0,0,0,0.95);
    li{
        padding: 2rem !important;
        font-size: 1.5rem !important;
        border: 1px solid #fff;
    }
}
}
