@import '../../variables.scss';
.skills{
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    header{
        @include flex-container;
        p{
            position: relative;
            font-size: 2rem;
            height: 4rem;
            width: 90%;
            display: flex;
            align-items: center;
            &::after{
                display: block;
                content: "";
                    width: 5rem;
                    height: 100%;
                    z-index: -1;
                    position: absolute;
                    top:0;
                    left: -3rem;
                    background-color: $first-main-color;
            }
        }
    }
    main{
        display: flex;
        min-height: 100%;
        >div{
            min-height: 100%;
            width: 50%;
            height: calc(100vh - 5rem);
            display: flex;
            justify-content: center;
        }
    }
}
.bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #cfd8dc;
    height: 1.5rem;
    div{
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        margin: 0 0.2rem;
        cursor: pointer;
        cursor: pointer;

    }
}
.console_container{
    flex-direction: column;
}
._red{
    background-color: #d22e2e;
}
._yellow{
    background-color: #ffb64c;
}
._green{
    background-color: #8ac249;
}
.logo_container{

    width: 100%;
    height: 50%;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    > div{
        width: 80%;
        @include flex-container;
        flex-wrap: wrap;
  }
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem 3rem;
    img{
        height: 5rem;
    }
}