@import '../../variables.scss';
.email_form{
    display: flex;
    flex-direction: column;

    input[type="submit"]{
        width: 7rem;
        height: 3rem;
        align-self: center;
        border: 1px solid $first-main-color;
    }
}