@import '../../variables.scss';
.email_form{
    display: flex;
    flex-direction: column;
    height: 80%;
    position: relative;
}
.send_btn{
    position: relative;
    align-self: center;
    margin: 1rem;
    background-color: transparent;
    width: 7rem;
    height: 3rem;
    border: 1px solid $third-main-color;
    cursor: pointer;
    &::before{
        display: inline-block;
        content: "";
        width: 7rem;
        height: 3rem;
        background-color: $first-main-color;
        position: absolute;
        bottom: -0.5rem;
        right: -0.5rem;
        z-index: -1;

    }
}