@import '../../variables.scss';
.email_form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    position: relative;

    input[type="text"],input[type="email"]{
        border: none;
        border-bottom: 1px solid $first-main-color;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        outline: none;
        &:focus{
            border-bottom: 2px solid $first-main-color;
        }
    }
    textarea{
        border: 1px solid $first-main-color;
        resize: none;
        height: 10rem;
        margin: 0.5rem 0;
        padding: 1rem;
        outline: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &:focus{
            border: 2px solid $first-main-color;
        }
    }
}
.send_btn{
    position: relative;
    align-self: center;
    margin: 1rem;
    background-color: transparent;
    width: 7rem;
    height: 3rem;
    border: 1px solid $third-main-color;
    cursor: pointer;
    &::before{
        display: inline-block;
        content: "";
        width: 7rem;
        height: 3rem;
        background-color: $first-main-color;
        position: absolute;
        bottom: -0.5rem;
        right: -0.5rem;
        z-index: -1;

    }
    &:hover::before{
        display: inline-block;
        content: "";
        width: 7rem;
        height: 3rem;
        background-color: $first-main-color;
        position: absolute;
        left: -0.5rem;
        top: -0.5rem;
        z-index: -1;
        transition: all 1s;
    }
}