@import '../../variables.scss';
.projects{
    width: 100%;
    padding: 2rem;
    header{
        @include flex-container;
        p{
            position: relative;
            font-size: 2rem;
            height: 4rem;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &::after{
                    display: block;
                    content: "";
                    width: 5rem;
                    height: 100%;
                    z-index: -1;
                    position: absolute;
                    top:0;
                    right: 4rem;
                    background-color: $first-main-color;
            }
        }
    }
    main{
        padding: 4rem 2rem;
        @include flex-container;
        >div{
            width: 200px;
        }
    }
}