.console_content{
    background-color: #263238;
    padding: 2rem 0;
    width: 100%;
}
ul {
    list-style: none;
    color: #EFEBE9;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 20px;
  }
.html_text {
    color: #EF5350;
  }
  .html_text_2 {
    color: #FFCC80;
  }