@import '../../variables.scss';

.main_page_container{
    width: 100%;
    background-color: $third-main-color;
    padding: 3rem;
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    p{
        color: $second-main-color;
        span{
            color: $first-main-color;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main_page_container{
        min-height: calc(100vh - 5rem);
        display: block;
        h1{
            font-size: 1.5rem;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
            span{
                font-size: 2rem;
            }
        }
        >div{
            width: 100%;
            margin: 1rem 0;
        }
    }
        .programmer{
            img{
                height: 20rem;
            }
        }
}
@media only screen and (min-width: 768px) {
    .main_page_container{
        min-height: calc(100vh - 7rem);
        @include flex-container;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
        }
        >div{
            width: 50%;
        }
}
.programmer{
    img{
        height: 30rem;
    }

}
}