@import '../../variables.scss';

.main_page_container{
    height: calc(100vh - 5rem);
    width: 100%;
    background-color: red;
    @include flex-container;
    div{
        width: 50%;
        height: 100vh;
    }
    p{
        color: $second-main-color;
        font-size: 2rem;
        span{
            color: $first-main-color;
            font-size: 3rem;
        }
    }
}